numpy==2.0.2
pandas==3.0.3
scikit-learn==1.5.2
scipy==1.17.1
joblib==1.5.3
threadpoolctl==3.6.0
pyserial==3.5
websockets==16.0
pyfiglet==1.0.4
rich==15.0.0
markdown-it-py==4.2.0
mdurl==0.1.2
Pygments==2.20.0
python-dateutil==2.9.0.post0
six==1.17.0
